:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Montserrat", sans-serif;
    --font3: "FontAwesome", sans-serif;
    --font4: "Roboto", sans-serif;
    --font5: "ProximaNova", sans-serif;
    --font6: "Asap Condensed", sans-serif;
    --text: #22343d;
    --white: #fff;
    --border-color-upp: #f9c5c5;
    --border-second: #bcd0e5;
    --btn-border-header: #78c6fa;
    --btn-back-header: #175656;
    --btn-text-header: #e3e3ea;
    --btn-upp-text-header: #121220;
    --logo: #173a56;
    --btn-bg-header: #02897a;
    --button-bg-color: #5ec0b4;
    --link-active: #38f7f4;
    --symbol: #4d8dff;
    --color1: #740a76;
    --color2: #f03e3d;
    --card: #2f281e;
    --hover-logo: #669fbc;
    --hover-nav: #0b5a7f;
    --border-news: #dedede;
    --ellipse: #edfffc;
    --ellipse-focus: #9fcec6;
    --elipse-stroke: #0a8b7c70;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--white);
    color: var(--text);
}

.section {
    min-width: 320px;
    margin: 0 auto;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}