:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Montserrat", sans-serif;
    --font3: "FontAwesome", sans-serif;
    --font4: "Roboto", sans-serif;
    --font5: "ProximaNova", sans-serif;
    --font6: "Asap Condensed", sans-serif;
    --text: #22343d;
    --white: #fff;
    --border-color-upp: #f9c5c5;
    --border-second: #bcd0e5;
    --btn-border-header: #78c6fa;
    --btn-back-header: #175656;
    --btn-text-header: #e3e3ea;
    --btn-upp-text-header: #121220;
    --logo: #173a56;
    --btn-bg-header: #02897a;
    --button-bg-color: #5ec0b4;
    --link-active: #38f7f4;
    --symbol: #4d8dff;
    --color1: #740a76;
    --color2: #f03e3d;
    --card: #2f281e;
    --hover-logo: #669fbc;
    --hover-nav: #0b5a7f;
    --border-news: #dedede;
    --ellipse: #edfffc;
    --ellipse-focus: #9fcec6;
    --elipse-stroke: #0a8b7c70;
    --tick1: #f90;
    --tick2: #f03e3d;
    --tick3: #4d8dff;
    --avatar1: #ff0909;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--white);
    color: var(--text);
}

.section {
    min-width: 320px;
    margin: 0 auto;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}


/* #region header */
.senior {
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
    background: var(--white);
}
@media screen and (min-width: 768px) {
    .senior {
        padding: 17px 0;
    }
}
@media screen and (min-width: 1158px) {
    .senior {
        padding: 19px 0;
    }
}
.midl {
    padding: 17px 27px  17px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .midl {
        max-width: 768px;
        padding: 0 27px;
    }
}
@media screen and (min-width: 1158px) {
    .midl {
        padding: 0 20px;
        max-width: 1158px;
    }
}
@media screen and (min-width: 768px) {
    .midl-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}
@media screen and (min-width: 768px) {
    .midl-nav {
        gap: 0;
    }
}
.midl-logo {
    max-width: 170px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: var(--logo);
    display: flex;
    align-items: center;
    transition: color 1s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .midl-logo {
        margin-right: 40px;
    }
}
@media screen and (min-width: 1158px) {
    .midl-logo {
        margin-right: 237px;
    }
}
.midl-logo:focus,
.midl-logo:active {
    color: var(--hover-logo);
}
@media screen and (min-width: 1158px) {
    .midl-logo:focus,
    .midl-logo:active,
    .midl-logo:hover {
        color: var(--hover-logo);
    }
}
.icons-midl {
    margin-right: 8px;
}
@media screen and (min-width: 1158px) {
    .icons-midl {
        margin-right: 16px;
    }
}
.midl-nav-list {
    display: none;
}
@media screen and (min-width: 768px) {
    .midl-nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}
@media screen  and (min-width: 768px) {
    .midl-nav-list-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        color: var(--text);
        transition: color 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .product-link {
        font-weight: 600;
    }
    .midl-nav-list-link:active,
    .midl-nav-list-link:focus {
        color: var(--hover-nav);
    }
}
.midl-register {
    display: none;
}
@media screen and (min-width: 768px) {
    .midl-register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;   
    }
    .inn {
        border: none;
        min-width: 112px;
        padding: 9px 24px;
        border: 1px solid var(--border-second);
        border-radius: 4px;
        background-color: transparent;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: var(--logo);
        transition: color 1s cubic-bezier(0.4, 0, 0.2, 1),
                    background-color 1s cubic-bezier(0.4, 0, 0.2, 1),
                    border-color 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .inn:focus,
    .inn:active {
        color: var(--btn-text-header);
        background-color: var(--btn-back-header);
        border-color: var(--btn-border-header);
    }
    .upp {
        border: none;
        min-width: 112px;
        padding: 9px 24px;
        border: 1px solid var(--border-second);
        border-radius: 4px;
        background-color: var(--btn-bg-header);
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: var(--white);
        transition: color 1s cubic-bezier(0.4, 0, 0.2, 1),
            background-color 1s cubic-bezier(0.4, 0, 0.2, 1),
            border-color 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .upp:focus,
    .upp:active {
        color: var(--btn-upp-text-header);
        background-color: var(--button-bg-color);
        border-color: var(--border-color-upp);
    }
}
@media screen and (min-width: 1158px) {
    .midl-nav-list {
        gap: 30px;
    }
    .midl-nav-list-link:active,
    .midl-nav-list-link:focus,
    .midl-nav-list-link:hover {
        color: var(--hover-nav);
    }
}
@media screen and (min-width: 1158px) {
    .midl-register {
            flex-direction: row;
            gap: 21px;
        }
}
/* #region burger-button */
.midl-input {
    appearance: none;
    display: block;
}
.midl-label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    width: 28px;
    height: 31px;
}
.burger-icon {
    position: relative;
}
.burger-icon,
.burger-icon::after,
.burger-icon::before {
    width: 24px;
    height: 4px;
    border-radius: 3px;
    background-color: var(--logo);
    transition: background-color 1s cubic-bezier(0.4, 0, 0.2, 1),
                transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-icon::after,
.burger-icon::before {
    content: "";
    position: absolute;
    top: 0;
}
.burger-icon::after {
    top: -7.75px;
}
.burger-icon::before {
    top: 7.75px;
}
.midl-label:focus .burger-icon::after,
.midl-label:active .burger-icon::after {
    top: -10px;
}
.midl-label:focus .burger-icon::before,
.midl-label:active .burger-icon::before {
    top: 10px;
}
/* #endregion burger-button */
@media screen and (min-width: 768px) {
    .midl-box {
        display: none;
    }
}

/* #region modal-menu */
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(77, 134, 116, 0.5);

    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;

    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
                visibility 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-window {
    max-width: 411px;
    background-color: var(--white);
    margin: 0 auto;
    padding: 72px 20px 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 1px var(--hover-nav);
    background-color: var(--border-second);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 1s cubic-bezier(0.4, 0, 0.2, 1),
                background-color 1s cubic-bezier(0.4, 0, 0.2, 1),
                fill 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:focus,
.modal-close:active {
    border: none;
    background-color: var(--btn-border-header);   
}
.modal-close:focus .icon-close,
.modal-close:active .icon-close {
    fill: var(--white);
}
.modal-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}
.modal-nav-link {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text);
}
.modal-link {
    font-weight: 700;
}

.modal-inn {
    margin: 0 auto 20px;
    border: none;
    min-width: 200px;
    padding: 9px 24px;
    border: 1px solid var(--border-second);
    border-radius: 4px;
    background-color: transparent;
    color: var(--logo);
    font-weight: 600;
    font-size: 16px;
    transition: color 1s cubic-bezier(0.4, 0, 0.2, 1),
            background-color 1s cubic-bezier(0.4, 0, 0.2, 1),
            border-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-inn:focus,
.modal-inn:active {
    color: var(--btn-text-header);
    background-color: var(--btn-back-header);
    border-color: var(--btn-border-header);
}
.modal-upp {
    border: none;
    margin: 0 auto 70px;
    border-radius: 4px;
    min-width: 200px;
    background-color: var(--btn-bg-header);
    padding: 9px 24px;
    font-weight: 600;
    font-size: 16px;
    color: var(--white);
    transition: color 1s cubic-bezier(0.4, 0, 0.2, 1),
            background-color 1s cubic-bezier(0.4, 0, 0.2, 1),
            border-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-upp:focus,
.modal-upp:active {
    color: var(--btn-upp-text-header);
    background-color: var(--button-bg-color);
    border-color: var(--border-color-upp);
}
.modal-meseger {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-meseger-list {
    width: 40px;
    height: 40px;
}
.modal-meseger-list-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ellipse);
    transition: background-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-meseger-list-link:focus,
.modal-meseger-list-link:active {
    background-color: var(--ellipse-focus);
}
.icon-ellipse {
    stroke: var(--btn-bg-header);
    fill: none;
    stroke-width: 2px;
    transition: stroke 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-meseger-list-link:focus .icon-ellipse,
.modal-meseger-list-link:active .icon-ellipse {
    stroke: var(--elipse-stroke);
}
/* #endregion modal-menu */
@media screen and (min-width: 768px) {
    .modal {
        display: none;
    }
}
/* #endregion header */


/* #region hero */
.hero {
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 100px;
}
@media screen and (min-width: 1158px) {
    .hero {
        padding-top: 25px;
    }
}
@media screen and (min-width: 411px) {
    .hero-box { 
        max-width: 411px;
        padding: 0 21px;
      }
}
@media screen and (min-width: 768px) {
    .hero-box {
        max-width: 768px;
        padding: 0 27px;
    }
}
@media screen and (min-width: 1158px) {
    .hero-box {
        max-width: 1158px;
        padding: 0 20px;
        min-height: 555px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
}
.img-box {
    margin-bottom: 11px;
}
@media screen and (min-width: 1158px) {
    .img-box {
        margin-bottom: 0;
        width: 610px;
    }
    .hero-content {
        max-width: 465px;
    }
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    color: var(--text);
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .hero-title {
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 1158px) {
    .hero-title {
        font-size: 40px;
        line-height: 1.5;
        margin-bottom: 18px;
        text-align: start;
    }
}
.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: var(--text);
    margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
    .hero-text {
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 1158px) {
    .hero-text {
        margin-bottom: 45px;
        text-align: start;
    }
}
.hero-box-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (min-width: 411px) {
    .hero-box-btn {
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {
    .hero-box-btn {
        justify-content: space-around;
    }
}
@media screen and (min-width: 1158px) {
    .hero-box-btn {
        justify-content: flex-start;
    }
}
.hero-btn {
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    text-align: center;
    border-radius: 4px;
    min-width: 142px;
    height: 53px;
    background-color: var(--btn-bg-header);
    margin-right: 28px;
    transition: color 1s cubic-bezier(0.4, 0, 0.2, 1),
                background-color 1s cubic-bezier(0.4, 0, 0.2, 1),
                border-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .hero-btn {
        margin-right: 0;
    }
}
@media screen and (min-width: 1158px) {
    .hero-btn {
        margin-right: 30px;
    }
}
.hero-btn:focus,
.hero-btn:active {
    color: var(--btn-upp-text-header);
    background-color: var(--button-bg-color);
    border-color: var(--border-color-upp);
}
@media screen and (min-width: 1158px) {
    .hero-btn:focus,
    .hero-btn:active,
    .hero-btn:hover {
        color: var(--btn-upp-text-header);
        background-color: var(--button-bg-color);
        border-color: var(--border-color-upp);
    }
}
.hero-link  {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--btn-bg-header);
    transition: color 1s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
}
.hero-link:focus,
.hero-link:active {
    color: var(--button-bg-color);
}
@media screen and (min-width: 1158px) {
    .hero-link:focus,
    .hero-link:active,
    .hero-link:hover {
        color: var(--button-bg-color);
    }
}
.hero-link .hero-icon {
    fill: var(--btn-bg-header);
    margin-right: 8.71px;
    transition: fill 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:focus .hero-icon,
.hero-link:active .hero-icon{
    fill: var(--button-bg-color);
}
@media screen and (min-width: 1158px) {
    .hero-link:focus .hero-icon,
    .hero-link:active .hero-icon,
    .hero-link:hover .hero-icon {
        fill: var(--button-bg-color);
    }
}
/* #endregion hero */


/* #region product */
.product {
    padding-top: 16px;
    padding-bottom: 38px;
}
@media screen and (min-width: 768px) {
    .product {
        padding-top: 30px;
    }
}
@media screen and (min-width: 1158px) {
    .product {
        padding-top: 0;
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 411px) {
    .product-box {
        max-width: 411px;
        padding: 0 21px;
    }
}
@media screen and (min-width: 768px) {
    .product-box {
        max-width: 768px;
        padding: 0 27px;
    }
}
@media screen and (min-width: 1158px) {
    .product-box {
        max-width: 1158px;
        padding: 0 20px;
    }
}
.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: var(--text);
    margin-bottom: 50px;
}

.product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
    .product-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 40px;
    }
}
@media screen and (min-width: 1158px) {
    .product-list {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 30px;
        row-gap: 0;
        margin-bottom: 50px;
    }
}
.product-list-item {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (min-width: 1158px) {
    .product-list-item {
        width: 255px;
        justify-content: center;
        align-items: flex-start;
    }
}
.product-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
}
@media screen and (min-width: 1158px) {
    .product-icon-box {
        margin-bottom: 18px;
    }
}
.green {
    background-color: var(--btn-bg-header);
}

.blue {
    background-color: var(--symbol);
}

.purple {
    background-color: var(--color1);
}

.orange {
    background-color: var(--color2);
}

.product-icon {
    fill: var(--white);
}

.product-list-title {
    font-weight: 600;
    font-size: 22px;
    color: var(--text);
    margin-bottom: 8px;
}
@media screen and (min-width: 1158px) {
    .product-list-title {
        margin-bottom: 13px;
    }
}
.product-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--text);
}
@media screen and (min-width: 1158px) {
    .product-list-text {
        text-align: start;
    }
}
.product-btn {
    border: none;
    margin: 0 auto;
    min-width: 175px;
    border-radius: 4px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    background-color: var(--btn-bg-header);
    transition: color 1s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 1s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.product-btn:focus,
.product-btn:active {
    color: var(--btn-upp-text-header);
    background-color: var(--button-bg-color);
    border-color: var(--border-color-upp);
}
@media screen and (min-width: 1158px) {
    .product-btn:focus,
    .product-btn:active,
    .product-btn:hover {
        color: var(--btn-upp-text-header);
        background-color: var(--button-bg-color);
        border-color: var(--border-color-upp);   } 
}
/* #endregion product */


/* #region management */
.management {
    padding: 100px 0;
}
@media screen and (min-width: 1158px) {
    .management {
        padding-top: 0;
    }
}
@media screen and (min-width: 411px) {
    .management-box {
        max-width: 411px;
        padding: 0 21px;
    }
}
@media screen and (min-width: 768px) {
    .management-box {
        max-width: 768px;
        padding: 0 27px;
        text-align: center;
    }
}
@media screen and (min-width: 1158px) {
    .management-box {
        max-width: 1158px;
        min-height: 500px;
        padding: 0 20px;
        text-align: start;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .management-content {
        width: 486px;
    }
}
.img-management {
    margin-bottom: 50px;
}
@media screen and (min-width: 1158px) {
    .img-management {
        margin-bottom: 0;
        width: 540px;
    }
}
.manag-title {
    font-weight: 600;
    font-size: 16px;
    color: var(--text);
}
.manag-title-span {
    font-weight: 700;
    font-size: 32px;
    color: var(--text);
    display: block;
    margin-top: 8px;
    margin-bottom: 16px;
}
@media screen and (min-width: 1158px) {
    .manag-title-span {
        margin-bottom: 25px;
    }
}
.manag-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
@media screen and (min-width: 1158px) {
    .manag-list {
        gap: 25px;
    }
}
.manag-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: var(--text);
}
.manag-list-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.63;
    color: var(--text);
    margin-bottom: 12px;
}
/* #endregion management */


/* #region support */
.support {
    padding-bottom: 100px;
}
@media screen and (min-width: 411px) {
    .support-box {
        max-width: 411px;
        padding: 0 21px;
    }
}
@media screen and (min-width: 768px) {
    .support-box {
        max-width: 768px;
        padding: 0 27px;
        text-align: center;
    }
}
@media screen and (min-width: 1158px) {
    .support-box {
        max-width: 1158px;
        padding: 0 20px;
        text-align: start;
        min-height: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .support-content {
        width: 451px;
    }
}
.img-support {
    margin-bottom: 50px;
}
@media screen and (min-width: 1158px) {
    .img-support {
        margin-bottom: 0;
        width: 540px;
    }
}
.support-title {
    font-weight: 600;
    font-size: 16px;
    color: var(--text);
}
.support-title-span {
    font-weight: 700;
    font-size: 32px;
    color: var(--text);
    display: block;
    margin-top: 8px;
    margin-bottom: 16px;
}
.support-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: var(--text);
    margin-bottom: 16px;
}
.support-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
@media screen and (min-width: 768px) {
    .support-list {
        align-items: flex-start;
    }
}
    .support-list-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

.support-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    min-height: 35px;
    border: 2.92px solid var(--white);
    border-radius: 14px;
}
    .support-wrapper {
        margin-right: 30px;
    }

.tick-orange {
    background-color: var(--tick1);
}
.tick-red {
    background-color: var(--tick2);
}
.tick-blue {
    background-color: var(--tick3);
}
.support-icon {
    fill: var(--white);
}
.support-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: var(--text);
}
/* #endregion support */


/* #region collaborative */
.collaborative {
    padding-bottom: 140px;
}
/* #endregion collaborative */


/* #region expert */
.expert {
    padding-bottom: 100px;
}
@media screen and (min-width: 411px) {
    .expert-box {
        max-width: 411px;
        padding: 0 21px;
    }
}
@media screen and (min-width: 768px) {
    .expert-box {
        max-width: 768px;
        padding: 0 27px;
    }
}
@media screen and (min-width: 1158px) {
    .expert-box {
        max-width: 1158px;
        padding: 0 20px;
    }
}
.expert-title {
    font-weight: 700;
    font-size: 34px;
    color: var(--text);
    text-align: center;
    margin-bottom: 8px;
}
@media screen and (min-width: 1158px) {
    .expert-title {
        margin-bottom: 25px;
    }
}
.expert-text {
    margin: 0 auto;
    max-width: 542px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--text);
    margin-bottom: 40px;
}
.expert-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    max-width: 916px;
    margin: 0 auto 32px;
}
@media screen and (min-width: 768px) {
    .expert-list {
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 25px; 
    }
        .expert-list-item:nth-child(2) {
            order: 3;
        }
    
        .expert-list-item:nth-child(3) {
            order: 4;
        }
    
        .expert-list-item:nth-child(4) {
            order: 2;
        }
}
@media screen and (min-width: 1158px) {
    .expert-list {
        margin-bottom: 50px;
    }
}
.expert-list-item {
    display: flex;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .expert-list-item {
        width: 300px;
    }
}
@media screen and (min-width: 1158px) {
    .expert-list-item {
        width: 408px;
    }
}
.picture-border{
    flex-shrink: 0;
}
.picture-border img {
    height: 100%;
}
.expert-list-item-text {
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    border-radius: 50px;
    margin-left: 14px;
    padding: 8.5px 24px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--card);
}
@media screen and (min-width: 1158px) {
    .expert-list-item-text {
        padding: 13px 20px;
        margin-left: 20px;
    }
}
.dima-text {
    margin-left: 0;
    margin-right: 14px;  
}
@media screen and (min-width: 1158px) {
    .dima-text {
        margin-left: 0;
        margin-right: 20px;
    }
}
.expert-btn {
    border: none;
    margin: 0 auto;
    min-width: 216px;
    border-radius: 4px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    background-color: var(--btn-bg-header);
    transition: color 1s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 1s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.expert-btn:focus,
.expert-btn:active {
    color: var(--btn-upp-text-header);
    background-color: var(--button-bg-color);
    border-color: var(--border-color-upp);
}

@media screen and (min-width: 1158px) {

    .expert-btn:focus,
    .expert-btn:active,
    .expert-btn:hover {
        color: var(--btn-upp-text-header);
        background-color: var(--button-bg-color);
        border-color: var(--border-color-upp);
    }
}
/* #endregion expert */
