:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Montserrat", sans-serif;
    --font3: "FontAwesome", sans-serif;
    --font4: "Roboto", sans-serif;
    --font5: "ProximaNova", sans-serif;
    --font6: "Asap Condensed", sans-serif;
    --text: #22343d;
    --white: #fff;
    --border-color-upp: #f9c5c5;
    --border-second: #bcd0e5;
    --border-hover: #78c6fa;
    --logo: #173a56;
    --button-bg: #02897a;
    --button-bg-color: #5ec0b4;
    --link-active: #38f7f4;
    --symbol: #4d8dff;
    --color1: #740a76;
    --color2: #f03e3d;
    --card: #2f281e;
    --hover-logo: #669fbc;
    --hover-nav: #0b5a7f;
    --border-news: #dedede;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--white);
    color: var(--text);
}

.section {
    max-width: 767px;
    min-width: 320px;
    margin: 0 auto;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 44px;
}

.senior {
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
        background: var(--white);
}
.midl {
    padding: 17px 27px  17px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.midl-nav {
    max-width: 170px;
}
.midl-logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: var(--logo);
    display: flex;
    align-items: center;
    transition: color 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.midl-logo:focus,
.midl-logo:active {
    color: var(--hover-logo);
}
.icons-midl {
    margin-right: 8px;
}
.midl-nav-list {
    display: none;
}
.midl-register {
    display: none;
}
.burger {
    border: none;
    width: 28px;
    height: 31px;
    background-color: transparent;
}
.icon-burger {
    stroke: var(--logo);
    transition: stroke 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-burger:focus,
.icon-burger:active {
    stroke: var(--hover-logo);
}